<div class="card-container"[ngClass]="{'border-animated-shareable': book.shareable, 'border-animated-archived': book.archived}" > 
  <a href="/" class="hero-image-container">
    <img class="hero-image" [src]="bookCover" alt="Spinning glass cube"/>
  </a>
  <main class="main-content">
    <h1>{{book.title}}</h1>
   
    <p class="syn">{{book.synopsis}}</p>
    <p>Owner :  {{ book.owner }}</p>
    <div class="flex-row">
      <div class="d-flex gap-2 star">
        <app-rating [rating]="book.rate || 0"></app-rating>
        <span class="fw-bold" *ngIf="book.rate || 0 > 0">
          {{book.rate}}
        </span>
      </div>
      <div class="time-left">
        <div class="d-flex gap-2" *ngIf="manage">
          <i (click)="onEdit()" class="fas fa-edit text-success"></i>
          <i (click)="onShare()" class="fas fa-share-nodes text-primary"></i>
          <i (click)="onArchive()" class="fas fa-archive text-danger"></i>
        </div>
        <div class="d-flex gap-2" *ngIf="!manage">
          <i (click)="onShowDetails()" class="fas fa-circle-info text-primary"></i>
          <i (click)="onBorrow()" class="fas fa-list-check text-primary"></i>
        </div>
      </div>
    </div>
  </main>
  <div class="card-attribute">
    <img src="https://i.postimg.cc/SQBzNQf1/image-avatar.png" alt="avatar" class="small-avatar"/>
    <p>Author <span>{{ book.authorName }}</span></p>
  </div>
</div>