<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<div class="main">
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
    <p *ngFor="let msg of errorMsg">{{msg}}</p>
  </div>
  <div>
    <h3 class="text">Books.</h3>
    <h3 class="text2">Org</h3>
    <img src="https://wallpapers.com/images/hd/books-on-shelves-bk9wakmcy00b9ue3.jpg" class="img"/>
    </div>
  <div class="frm">
      <h3>Create Account</h3>
      <label for="firstname" class="form-label">Firstname</label>
      <input [(ngModel)]="registerRequest.firstName" type="text" class="form-control" id="firstname" placeholder="Firstname">

      <label for="lastname" class="form-label">Lastname</label>
      <input [(ngModel)]="registerRequest.lastName" type="text" class="form-control" id="lastname" placeholder="Lastname">

      <label for="login" class="form-label">Email address</label>
      <input [(ngModel)]="registerRequest.email" type="email" class="form-control" id="login" placeholder="name@example.com">

      <label for="password" class="form-label">Password</label>
      <input [(ngModel)]="registerRequest.password" type="password" class="form-control" id="password" placeholder="Password">

      <button (click)="register()" type="button" class="reg">Register</button>
      <button (click)="login()" type="button" class="sig">Sign in</button>  
     
    </div>   
</div>
