*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: #080710;
}
.frm{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 75%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.frm *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.frm h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    width: 100%;
    background-color: #1d1c22;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
}
.reg{
    margin-top: 20px;
}
.sig{
    margin-top: 40px;
}

button :hover{
  background-color: rgba(255,255,255,0.47);
}

.alert{
    width: 200px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 680px;
    right: 250px;
}
.img{
    width: 50%;
    height: 100vh;
}
.text{
    position: absolute;
    color: #ffffff;
    top: 230px;
    left: 316px;
    font-size: 120px;
    text-shadow: #222122;
}
.text2{
    position: absolute;
    color: #fdc9c9;
    top: 340px;
    left: 523px;
    font-size: 90px;
}
