.book-area{
  height: 800px;
}
h3{
    margin-bottom: -40px;
    font-size: 50px;
    margin-left: 20px;
    color: #D7DBDD;

}
.comp{
    height: 100vh;
    display: flex;
    flex-direction: column;
      margin-left: 20px;
      margin-right: 20px;
}