h3{
    margin-bottom: -40px;
    font-size: 50px;
    margin-left: 20px;
    color: #D7DBDD;
}
.p-2{
    background: #121212;
    height: 100vh;
    width: 100%;
}
form{
    width: 400px;
}
.content{
    position: absolute;
    bottom: 200px;
    left: 400px;
    width: 1000px;
}
hr{
    margin-top: 50px;
}
label{
    color: #8d9092;
}
input{
    background: #8d9092;
    border: 0px;
}
textarea{
    background: #8d9092;
    border: 0px;
}

.alert{
    width: 400px;
    margin-left:520px;
}
